.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  background-color: #F1F1F1;
  border-bottom: 1px solid #aaa;
}

.tab {
  color:#2B3239;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  outline: none;
}

.tabTitle {
  margin: 0;
  line-height: 1.4rem;
  font-weight: normal;
  /* color: #fff; */
}

.tabActive {
  border-bottom: 2px solid #536DFE;
  /* background-color: #17181a; */
}

.tabActive .tabTitle {
  /* color: #0458cf; */
}

.tabContent {
  overflow: scroll;
}
